In [1]:
# Dependencies and Setup
%matplotlib widget
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# File to Load (Remember to Change These)
mouse_drug_data_to_load = "data/mouse_drug_data.csv"
clinical_trial_data_to_load = "data/clinicaltrial_data.csv"

# Read the Mouse and Drug Data and the Clinical Trial Data
mouse_df = pd.read_csv("./data/mouse_drug_data.csv")
clinical_df = pd.read_csv("./data/clinicaltrial_data.csv")

In [2]:
# Combine the data into a single dataset
df = pd.merge(mouse_df, clinical_df, on = "Mouse ID", how = 'inner')
# Display the data table for preview
df.head()

  Mouse ID      Drug  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     f234  Stelasyn          0           45.000000                 0
1     f234  Stelasyn          5           47.313491                 0
2     f234  Stelasyn         10           47.904324                 0
3     f234  Stelasyn         15           48.735197                 1
4     f234  Stelasyn         20           51.112713                 2

## Tumor Response to Treatment

In [10]:
# Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 
meanvol = df.groupby(by = ["Drug", "Timepoint"])["Tumor Volume (mm3)"].mean()

# Convert to DataFrame
meanvol_df = pd.DataFrame(meanvol).reset_index()
# Preview DataFrame
meanvol_df.head()

        Drug  Timepoint  Tumor Volume (mm3)
0  Capomulin          0           45.000000
1  Capomulin          5           44.266086
2  Capomulin         10           43.084291
3  Capomulin         15           42.064317
4  Capomulin         20           40.716325

In [4]:
# Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint
standard_error = df.groupby(by = ['Drug', 'Timepoint'])['Tumor Volume (mm3)'].sem()
# Convert to DataFrame
se_df = pd.DataFrame(standard_error).reset_index()
# Preview DataFrame
se_df

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0            0.000000
1   Capomulin          5            0.448593
2   Capomulin         10            0.702684
3   Capomulin         15            0.838617
4   Capomulin         20            0.909731
..        ...        ...                 ...
95  Zoniferol         25            0.602513
96  Zoniferol         30            0.800043
97  Zoniferol         35            0.881426
98  Zoniferol         40            0.998515
99  Zoniferol         45            1.003576

[100 rows x 3 columns]

In [17]:
# Minor Data Munging to Re-Format the Data Frames
mean_pivot = meanvol_df.pivot_table(columns = 'Drug',index='Timepoint', dropna = True).reset_index(drop=True)
se_pivot = se_df.pivot_table(columns = 'Drug', index ='Timepoint', dropna = True).reset_index(drop = True)
# Preview that Reformatting worked
#mean_pivot.head()
#e_pivot.head()

     Tumor Volume (mm3)                                              \
Drug          Capomulin   Ceftamin  Infubinol   Ketapril   Naftisol
0             45.000000  45.000000  45.000000  45.000000  45.000000
1             44.266086  46.503051  47.062001  47.389175  46.796098
2             43.084291  48.285125  49.403909  49.582269  48.694210
3             42.064317  50.094055  51.296397  52.399974  50.933018
4             40.716325  52.157049  53.197691  54.920935  53.644087


Drug    Placebo   Propriva   Ramicane   Stelasyn  Zoniferol
0     45.000000  45.000000  45.000000  45.000000  45.000000
1     47.125589  47.248967  43.944859  47.527452  46.851818
2     49.423329  49.101541  42.531957  49.463844  48.689881
3     51.359742  51.067318  41.495061  51.529409  50.779059
4     54.364417  53.346737  40.238325  54.067395  53.170334

In [6]:
se_df.columns

Index(['Drug', 'Timepoint', 'Tumor Volume (mm3)'], dtype='object')

In [24]:
# Generate the Plot (with Error Bars)
tumor_chart = mean_pivot.plot(yerr=se_pivot)
# Save the Figure
plt.savefig('./treatment.png')

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previousâ€¦

In [25]:
# Show the Figure
plt.show()

![Tumor Response to Treatment](../Images/treatment.png)

## Metastatic Response to Treatment

In [35]:
# Store the Mean Met. Site Data Grouped by Drug and Timepoint 
meanmeta = df.groupby(by = ["Drug", "Timepoint"])["Metastatic Sites"].mean()
# Convert to DataFrame
meanmeta_df = pd.DataFrame(meanmeta)
# Preview DataFrame
meanmeta_df.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.160000
          10                 0.320000
          15                 0.375000
          20                 0.652174

In [39]:
# Store the Standard Error associated with Met. Sites Grouped by Drug and Timepoint 
semmeta = df.groupby(by = ["Drug", "Timepoint"])["Metastatic Sites"].sem()
# Convert to DataFrame
semmeta_df = pd.DataFrame(semeta)
# Preview DataFrame
semmeta_df.head()

                     Metastatic Sites
Drug      Timepoint
Capomulin 0                  0.000000
          5                  0.074833
          10                 0.125433
          15                 0.132048
          20                 0.161621

In [45]:
# Minor Data Munging to Re-Format the Data Frames
meanmeta_pivot = meanmeta_df.pivot_table(columns = 'Drug',index='Timepoint', dropna = True).reset_index(drop=True)
semmeta_pivot = semmeta_df.pivot_table(columns = 'Drug', index ='Timepoint', dropna = True).reset_index(drop = True)
# Preview that Reformatting worked
#meanmeta_pivot.head()
semmeta_pivot.head()

     Metastatic Sites                                                    \
Drug        Capomulin  Ceftamin Infubinol  Ketapril  Naftisol   Placebo
0            0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1            0.074833  0.108588  0.091652  0.098100  0.093618  0.100947
2            0.125433  0.152177  0.159364  0.142018  0.163577  0.115261
3            0.132048  0.180625  0.194015  0.191381  0.158651  0.190221
4            0.161621  0.241034  0.234801  0.236680  0.181731  0.234064


Drug  Propriva  Ramicane  Stelasyn Zoniferol
0     0.000000  0.000000  0.000000  0.000000
1     0.095219  0.066332  0.087178  0.077709
2     0.105690  0.090289  0.123672  0.109109
3     0.136377  0.115261  0.153439  0.111677
4     0.171499  0.119430  0.200905  0.166378

Drug,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Timepoint,,,,,,,,,,
0,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000,45.000000
5,44.266086,46.503051,47.062001,47.389175,46.796098,47.125589,47.248967,43.944859,47.527452,46.851818
10,43.084291,48.285125,49.403909,49.582269,48.694210,49.423329,49.101541,42.531957,49.463844,48.689881
15,42.064317,50.094055,51.296397,52.399974,50.933018,51.359742,51.067318,41.495061,51.529409,50.779059
20,40.716325,52.157049,53.197691,54.920935,53.644087,54.364417,53.346737,40.238325,54.067395,53.170334

In [48]:
# Generate the Plot (with Error Bars)
meanmeta_pivot.plot(yerr=semmeta_pivot)
# Save the Figure
plt.savefig('./spread.png')
# Show the Figure

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previousâ€¦

![Metastatic Spread During Treatment](../Images/spread.png)

## Survival Rates

In [51]:
# Store the Count of Mice Grouped by Drug and Timepoint (W can pass any metric)
ct = df.groupby(['Drug', 'Timepoint'])['Mouse ID'].count()
# Convert to DataFrame
ct_df = pd.DataFrame(ct)
# Preview DataFrame
ct_df.head()

                     Mouse ID
Drug      Timepoint
Capomulin 0                25
          5                25
          10               25
          15               24
          20               23

In [52]:
# Minor Data Munging to Re-Format the Data Frames
ct_pivot = ct_df.pivot_table(columns = 'Drug',index='Timepoint', dropna = True).reset_index(drop=True)
# Preview the Data Frame
ct_pivot.head()

      Mouse ID                                                                 \
Drug Capomulin Ceftamin Infubinol Ketapril Naftisol Placebo Propriva Ramicane
0           25       25        25       25       25      25       26       25
1           25       21        25       23       23      24       25       25
2           25       20        21       22       21      24       23       24
3           24       19        21       19       21      20       17       24
4           23       18        20       19       20      19       17       23


Drug Stelasyn Zoniferol
0          26        25
1          25        24
2          23        22
3          23        21
4          21        17

In [53]:
# Generate the Plot (Accounting for percentages)
ct_pivot.plot()
# Save the Figure

# Show the Figure
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to  previousâ€¦

![Metastatic Spread During Treatment](../Images/survival.png)

## Summary Bar Graph

In [ ]:
# Calculate the percent changes for each drug

# Display the data to confirm

Drug
Capomulin   -19.475303
Ceftamin     42.516492
Infubinol    46.123472
Ketapril     57.028795
Naftisol     53.923347
Placebo      51.297960
Propriva     47.241175
Ramicane    -22.320900
Stelasyn     52.085134
Zoniferol    46.579751
dtype: float64

In [ ]:
# Store all Relevant Percent Changes into a Tuple


# Splice the data between passing and failing drugs


# Orient widths. Add labels, tick marks, etc. 


# Use functions to label the percentages of changes


# Call functions to implement the function calls


# Save the Figure


# Show the Figure
fig.show()

![Metastatic Spread During Treatment](../Images/change.png)